{% extends "base.html" %}

{% block content %}
<h1>회원가입</h1>
<form id="registerForm" method="POST" action="/register/member">
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="pw" required>
    
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="birth">생년월일:</label>
    <input type="date" id="birth" name="birth" required>
    
    <label for="contact">연락처:</label>
    <input type="text" id="contact" name="contact" required>
    
    <button type="submit">제출</button>
</form>
{% endblock %}
